:root {
  --primary-color: #11272b;
  --secondary-color: #50997e;
  --background-color: #17363c;
  --text-color: #e9fece;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--background-color);
}

.my-navbar {
  width: 100%;
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

.navbar-canvas {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  border-radius: 100px;
  padding: 5px 15px;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 250px;
}

.navbar-logo>h1 {
  margin: 0;
  padding: 0;
}

.navbar-logo:hover {
  cursor: pointer;
}

#type-machine-logo {
  width: 45px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 100px;
  font-weight: 600;
}

.navbar-link {
  border-radius: 100px;
  padding: 10px 20px;
}

.navbar-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  width: 250px;
}

.navbar-signup {
  padding: 10px 20px;
  border-radius: 100px;
  background-color: var(--text-color);
  color: var(--background-color);
}

.navbar-signup:hover {
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar-login {
  padding: 10px 20px;
  color: var(--text-color);
  outline: 2px solid var(--text-color);
  border-radius: 100px;
}

.navbar-login:hover {
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--background-color);
  outline: none;
}

.container {
  width: 80%;
  padding-top: 25vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 24px;
  color: var(--text-color);
  text-align: center;
}

.typing-test {
  padding: 20px;
}

.words {
  padding: 40px 60px;
  border-radius: 30px;
}

.words:focus {
  outline: none;
}

.restart_btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--background-color);
  background-color: var(--text-color);
  border-radius: 100px;
  border: none;
}

.restart_btn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.caret {
  height: 1.7em;
  width: 1px;
  border: 1px solid var(--text-color);
  box-sizing: border-box;
  border-radius: 50px;
  position: absolute;
  transition: left 0.1s ease, top 0.1s ease;

}

.letter {
  box-sizing: border-box;
  letter-spacing: 0.02em;
  font-size: 1.5em;
}

.letter-neutral {
  color: var(--secondary-color);
}

.letter-correct {
  color: var(--text-color);
}

.letter-wrong {
  color: red;
}

.space-wrong {
  background-color: brown;
}