body {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  margin-bottom: 20px;
}

.timer {
  font-size: 24px;
  margin-bottom: 10px;
}

.input_area {
  width: 100%;
  height: 200px;
  font-size: 18px;
}

.restart_btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
}

.caret {
  height: 17px;
  width: 1px;
  border: 1px solid blue;
  box-sizing: border-box;
  border-radius: 50px;
  position: absolute;
}

.letter {
  box-sizing: border-box;
  letter-spacing: 0.1em;
}